<style>

.leftSideNav{
    background-color: black;
    width: 15%;
    height: 100%;
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
}

#mySidenav a {
    overflow: hidden;
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    padding-right: 25px;
    width: 100px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    color: white;
    left: 0;
}

#myTickets {
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    position: fixed;
    color: white;
    top: 40px;
    left: 15px;
    border-radius: 6px;
    text-decoration: none;
}

#resolved {
    top: 150px;
    color: lightslategray;
    background-color: lightslategray;
}

#pendingWithAgent {
    top: 250px;
    color: lightslategrey;
    background-color: lightslategrey;
}

#pendingForClarification {
    top: 350px;
    color: slategray;
    background-color: slategray;
}

#closed {
    top: 450px;
    color: slategrey;
    background-color: slategrey;
}
</style>

<div class = "leftSideNav">
<a href = "http://mywipro.wipro.com" id = "myTickets"> my Tickets </a>

    <div id="mySidenav" class="sidenav">
        <a href = "#" id="resolved" (click) = "onClickResolved()">Resolved</a>
        <a href = "#" id="pendingWithAgent" (click) = "onClickPendingAgent()">Pending with agent</a>
        <a href = "#" id="pendingForClarification" (click) = "onClickPendingClarification()">Pending for clarification</a>
        <a href = "#" id = "closed" (click) = "onClickClosed()">Closed</a>
    </div> 
</div>
<middleComponent [selectedbutton] = "selectedbuttonvalue()"></middleComponent>