<div>
    <div class = "middleTicketSection" *ngFor= 'let ticket of myData'>
        <div class = "individualticket" (click) = "onClickTicket(ticket.TicketID)" *ngIf = "ticket.Status == selectedbutton">
            <h2 class = " tickettext"> Description: {{ ticket.Description }} </h2>
            <h2 class = "tickettext"> Status: {{ ticket.Status }} </h2>
            <h3 *ngIf = "ticket.TicketID == ticketId">HEY there this ticket is currently exoanded and in action..</h3>
        </div>
    </div>
</div>

<!-- THIS IS THE DIV FOR TICKET POP UP -->
<!-- It will go here -->

<rightSideNav></rightSideNav>

<style>
    .middleTicketSection{
        position: relative;
        margin-left: 15%;
        margin-right: 15%;
        padding-right: 40px;
    }
    #tickettext{
        padding-right: 20px;
        position: relative;
        margin-left: 15%;
        margin-right: 15%;
    }
    .individualticket{
        background-color: lightgray;
        border: 4px;
        border-color: black;
    }

</style>