<div class = "rightSideNav">
    <!-- <img src="e:/myTickets/src/pics/info.png" id = "infoImage"/> -->
    <h3 id = "aboutApp">ABOUT THE APP</h3>
    <p id = "aboutAppText">This is an unified ticketing platform for reporting all kinds of issue. You can raise Ticket, View the status and provide further input.<p>
    <br><br><br><br><br>
    <a href = "#"id = "imgSelfServiceButton" class = "rightButton">IMG Self Service</a>
    <a href = "#" id = "contactUsButton" class = "rightButton">Contact Us</a>
</div>

<style>

    .rightSideNav{
        position: fixed;
        display: block;
        background-color: black;
        width: 15%;
        height: 100%;
        padding: 15px;
        float: right;
        right: 0px;
        top: 0px;
    }
    #infoImage{
        height: 10px;
        width: 10px;
    }

    #aboutApp{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        padding-left: 15px;
        color: white;
    }

    #aboutAppText{
        padding-left: 18px;
        padding-right: 15px;
        font-family: cursive;
        font-size: 20px;
        color: white;
    }

    .rightButton{
        display: block;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding-top: 10px;
        text-decoration: none;
    }

</style>